html, body {
	height:100%;
	margin:0;
}

.main {
	height:100%;
	width:100%;
}

.container {
	display:table;
	height:100%;
	margin:0 auto;
	width: 360px;
}

.center {
	display:table-cell;
	height:480px;
	width: 360px;
	vertical-align:middle;
}

.arrow-top, .arrow-down {
	clear:both;
	text-align:center;
	width:100%;
}

.middle-row {
	float: left;
	margin:20px 0;
	width:360px;
}

.arrow-left {
	float: left;
	margin-right:20px;
}

.stop {
	float: left;
}

.arrow-right {
	float: left;
	margin-left:20px;
}

.hovering {
 opacity:0.80;
}

.hovering:hover {
 opacity:1;
}

.turnDeviceNotification {
  position:fixed;
  top: 0;
  left:0;
  height:100%;
  width:100%;
  display: none;	
  background-image:url('picar/turn-device.png');
  background-size:cover;
}